venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/
training/
__pycache__/
comparison_results/
results/
evaluation/
training_results_summary.docx
training_results_summary.doc
action_distribution_summary.docx
lu28048121vp67.tmp
analysis/
old_brain_wrong_ver.py
fog_env_new.py
brain_angular.py 